<html>

<head>
    <title>My Now Amazing Webpage</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="/dist/main.css">


</head>

<body>

    <div class="container__wide">
        <div class="your-class">
            <div class="slide">
                <img src="/src/imgs/carbuying-assistance 1.png" alt="" srcset="">
                <div class="slide__content-wrapper slide-light">
                    <div class="slide__content">
                        <div class="slide__content-header">Car Buying With Auto Assistance</div>
                        <div class="slide__content-body">The new UMC FCU Auto Mall, powered by Auto Assistance</div>
                        <div class="btn-wrapper">
                            <div class="slide__content-btn">Details</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="space" style="min-height: 800px;"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery('.your-class').slick({
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [{
                    breakpoint: 980,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
</body>

</html>












