<html>

<head>
    <title>My Now Amazing Webpage</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="/dist/main.css">


</head>

<body>

    <section class="carousel-de">
        <div class="container__wide">
            <div class="slider-de">
                <div class="slide">
                    <img src="https://www.unitedmethodistcu.com/img/banner/new-carousel/carbuying-assistance%201.png" alt="" srcset="">
                    <div class="slide__content-wrapper slide-light">
                        <div class="slide__content">
                            <div class="slide__content-header">Car Buying With Auto Assistance</div>
                            <div class="slide__content-body">The new UMC FCU Auto Mall, powered by Auto Assistance
                            </div>
                            <div class="btn-wrapper">
                                <div class="slide__content-btn">Details</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <img src="https://www.unitedmethodistcu.com/img/banner/new-carousel/happy-holi-yay%202.png" alt="" srcset="">
                    <div class="slide__content-wrapper slide-dark">
                        <div class="slide__content">
                            <div class="slide__content-header | clr-neutral-100">Happy Holi-yay!</div>
                            <div class="slide__content-body | clr-neutral-100">Earn 2X ScorecardRewards points with each purchase! Now through January 15, 2023</div>
                            <div class="btn-wrapper">
                                <div class="slide__content-btn">Learn More</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="space" style="min-height: 800px;"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery('.slider-de').slick({
            dots: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 2000,
            arrows:false,
        });
    });
</script>
</body>

</html>












